*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: grid;
    background: url(img/bg-1.jpg);
}

.container{
    background: #000000af;
    height: 100vh;

    /* search-bar */
    
}

.input-container,.movie-container,.before-movie-container{
    margin: 30px 50px 10px 50px;
}

.input-box{
    height: 40px;
    display: flex;
    border-radius: 5px;
    overflow: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-box input{
    flex-basis: 80%;
    padding: 0px 20px;
    border-radius: 5px 0 0 5px;
    font-weight: 700;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.input-box input,button{
    border: none;
    outline: none;
}

.input-box button{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-box button{
    flex-basis: 20%;
    border-radius: 0px 5px 5px 0px;
    background: rgb(0, 153, 241);
    font-size: 20px;
    transition: background-color .5s;
    font-weight: 700;
    cursor: pointer;
}

.input-box button:hover{
    background: rgb(59, 183, 255);
}


/* movie-container */

#after{
    display: none;
}

.movie-box{
    background: #0000009d;
    padding: 20px;
    color: white;
    display: flex;
    border-radius: 20px;
    position: relative;
}

.movie-box .movie-poster{
    flex-basis: 40%;
}

.movie-poster .poster{
    border: 5px solid white;
    width: fit-content;
    height: fit-content;
}

.cancel{
    cursor: pointer;
}


.movie-box ,.movie-info{
    flex-basis: 60%;
    color: rgb(0, 153, 241);
    font-size: 18px;
    font-weight: 800;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.movie-info span{
    color: white;
    font-weight: 400;
}


/* before-movie-container */

#before{
    display: block;
}

.before-movie-container{
    background: #000000be;
}

.movie-img-container{
    padding: 20px;
}

.movie-img img:hover{
    transform: scale(1.1,1.1);
}

.movie-img img{
    transition: transform .5s;
    cursor: pointer;
}

.movie-img{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    row-gap: 20px;
}

.movie-img img{
    height: 220px;
    width: 160px;
}


/* loader */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.737);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
  }
  
  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }